<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
	<context:annotation-config></context:annotation-config>

  	
	  <bean class="com.demo.Employee" id="keerthi" > 
	  
	 <property name="empid" value="900"></property>
	  <property name="empname" value="sathya"></property>
	   <property name="empsal" value="100"></property>
<!--  <property name="address" ref="add"></property> -->	  

	  
	</bean>
	
	<bean class="com.demo.Address" id="address">
	<property name="hunum" value="123"></property>
	<property name="colony" value="saraswathi"></property>
	<property name="state" value="tg"></property>
	<property name="pincode" value="50822"></property>
	</bean>
	
	
	
	
	
	</beans>